body {
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: #817B7C;
}

.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box):not(.mdc-text-field--textarea) {
    width: 300px;
}

header {
    background: linear-gradient(to right, #FF7A40, #F0282C);
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

span.title {
    display: inline-block;
    position: relative;
    top: -18px;
    left: 10px;
    font-style: normal;
}

.mdc-layout-grid {
    max-width: 700px;
}

.description {
    color: #817B7C;
    font-style: italic;
}

.mt-30 {
    margin-top: 30px;
}

button.mdc-button--raised:not(:disabled) {
    text-transform: none;
    font-size: 14px;
    background-color: #E53945;
    border-radius: 20px;
    color: white;
    border: none;
    -webkit-font-smoothing: auto;
}

.mdc-text-field__label {
    color: #FF822E;
}

.mdc-text-field {
    width: 200px;
}

footer {
    height: 90px;
    background-color: #DDDBDB;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0px;
    color: #A7A4A4;
}

footer .mdc-layout-grid {
    padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .mdc-layout-grid {
        width: 80%;
        max-width: auto;
    }
}
